        body {
            margin: 0;
        }
        
        .container {
            max-width: 1100px;
            margin: 0 auto;
        }
        
        header .nav-bar .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .nav-bar nav ul {
            display: flex;
            list-style: none;
        }
        
        .nav-bar {
            padding: 40px 0;
        }
        
        .nav-bar nav ul a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 14px;
            margin: 0 10px;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            color: #777777;
        }
        /* HERO SECTION */
        
        .hero-section {
            width: 100%;
        }
        
        .background {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
            background: linear-gradient( to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(images/Background.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            margin: 0;
            background-blend-mode: multiply;
        }
        
        .background h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 60px;
            font-weight: 600;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0;
        }
        
        .background p {
            font-size: 20px;
            font-family: 'Roboto Slab', serif;
            color: #cccccc;
        }
        
        .background button {
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            background-color: #7cc576;
            border-radius: 31px;
            padding: 15px 25px;
            border: none;
        }
        
        .background button a {
            color: #d5ecd4;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
        }
        
        .three-divs {
            display: flex;
        }
        
        .professional-services {
            padding: 2em 15em;
        }
        
        .professional-services h2 {
            margin: 0 auto;
            font-size: 40px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            color: #222222;
            padding: 0 10px;
            text-align: center;
        }
        
        .professional-services p {
            font-size: 20px;
            font-family: 'Roboto Slab', serif;
            color: #777777;
            padding: 0 10px;
            text-align: center;
            margin: 3px;
        }
        
        .services {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 40px;
        }
        
        .services p {
            margin: 0;
            text-align: justify;
            font-size: 14px;
            font-family: 'Roboto Slab', serif;
            color: #777777;
        }
        
        .services h3 {
            font-size: 18px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            color: #222222;
            margin-bottom: 1em;
        }